@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

/* Mobile */
@media screen and (max-width: 480px) {
    .main {
        width: 100%;
    }
    .header {
        font-size: 4rem;
    }
    .main__item--sign-up {
        display: none;
    }
    .main__item--sign-in {
        display: flex;
    }
    .main__item-modal {
        display: none;
    }
}
/* Tablet */
@media screen and (max-width: 768px) {
    .main {
        width: 450px;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    .main__item--sign-in {
        transform: translateX(-50%);
    }
    .main__item--sign-up {
        transform: translateX(-100%);
    }
    .main__item-modal {
        display: none;
    }
    .main__item--sign-in {
        position: relative;
        left: 0;
    }
}